<div class="mat-elevation-z0">
  <table
    mat-table
    class="full-width-table"
    [dataSource]="dataSource"
    matSort
    aria-label="Elements"
  >
    <!-- Event Type Column -->
    <ng-container matColumnDef="nameEventType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell (click)="selectEventWarning(row)" *matCellDef="let row">
        {{ row.nameEventType }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell (click)="selectEventWarning(row)" *matCellDef="let row">
        {{ row.date | date }}
      </td>
    </ng-container>

    <!-- Field Column -->
    <ng-container matColumnDef="nameField">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Field</th>
      <td mat-cell (click)="selectEventWarning(row)" *matCellDef="let row">
        {{ row.nameField }}
      </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell (click)="selectEventWarning(row)" *matCellDef="let row">
        {{ row.company }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
  >
  </mat-paginator>
</div>
