<!-- Application header starts -->
<div class="app-header">
  <h1 class="app-heading">Olha ai</h1>
</div>
<!-- Application header ends -->

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>

  <!-- Writing markup for login starts -->
  <mat-grid-tile class='login-element'>
    <div class="login-container">

      <!-- Template Header starts -->
      <div class="login-box-header">
        <img src="http://www.dafaconsultoria.com.br/estatico/images/logo.png">
      </div>
      <!-- Template Header ends -->

      <form [(formGroup)] = "frm">
        <!-- Template Body starts -->
        <div class="login-box-body">
  
          <!-- Markup for getting email starts -->
          <mat-grid-list cols="9" rowHeight="75px">
            <mat-grid-tile [rowspan]="1" class="login-icon">
              <mat-icon>lock</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7">
              <mat-form-field class="justifier">
                <input matInput formControlName="email" placeholder="Your e-mail" text="text" required>
                <div class="input-errors"
                  *ngIf="(frm.get('email').invalid && frm.get('email').touched) || showInputErrors">
                  <div *ngIf="frm.get('email').hasError('required')">
                    Please enter your e-mail
                  </div>
                </div>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- Markup for getting email ends -->
  
          <!-- Markup for getting Password starts -->
          <mat-grid-list cols="9" rowHeight="100px">
            <mat-grid-tile [rowspan]="1" class="login-icon">
              <mat-icon>remove_red_eye</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7">
              <mat-form-field class="justifier">
                <input matInput formControlName="password" placeholder="Password" text="password" required>
                <div class="input-errors"
                  *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors">
                  <div *ngIf="frm.get('password').hasError('required')">
                    Please enter your password
                  </div>
                </div>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- Markup for getting Password ends -->
          
          <div class="sign-in-error" *ngIf="hasFailed">
            Invalid e-mail and password.
          </div>

          <button mat-raised-button class="login-button" (click)="doSignIn()" [disabled]="isBusy">
            <mat-icon style="padding-right: 5px;">input</mat-icon>
            <ng-template [ngIf]="!isBusy">Sign in</ng-template>
            <ng-template [ngIf]="isBusy">Signing in, please wait...</ng-template>
          </button>
  
        </div>
        <!-- Template Body ends -->
      </form>

    </div>
  </mat-grid-tile>
  <!-- Writing markup for login ends -->
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>