<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/home" *ngIf="authService.isSignedIn()">Dashboard</a>
      <a mat-list-item routerLink="/sign-in" *ngIf="!authService.isSignedIn()">Sign in</a>
      <button mat-button (click)="authService.doSignOut()" *ngIf="authService.isSignedIn()">Sign out</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">{{ appName }}</a>
      <span class="spacer"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a routerLink="/dashboard/home" *ngIf="authService.isSignedIn()">Dashboard</a>
        <a routerLink="/sign-in" *ngIf="!authService.isSignedIn()">Sign in</a>
        <button mat-button (click)="authService.doSignOut()" *ngIf="authService.isSignedIn()">Sign out</button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
