<div class="mat-elevation-z0">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    
    <!-- Company Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell (click)="selectClient(row)" *matCellDef="let row">{{row.company}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell (click)="selectClient(row)" *matCellDef="let row">{{row.lastName}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10">
  </mat-paginator>
</div>
