<div class="mat-elevation-z0">
    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
      
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell (click)="selectField(row)" *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <!-- e-mail Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>e-mail</th>
        <td mat-cell (click)="selectField(row)" *matCellDef="let row">{{row.email}}</td>
      </ng-container>
  
      <!-- Last Updated Column -->
      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last updated</th>
        <td mat-cell (click)="selectField(row)" *matCellDef="let row">
          {{row.updatedAt | date}}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="3">
    </mat-paginator>
  </div>
  